In [9]:
import os
import sqlite3
import pandas as pd

In [5]:
db_path = '../app/data/user_images.db'

In [7]:
db_path_exists = os.path.isfile(db_path)
db_path_exists

True

In [ ]:

conn = sqlite3.connect(db_path)

query = "SELECT * FROM user_images"

df = pd.read_sql_query(query, conn)
conn.close()

In [11]:
display_df = df.copy()
display_df['image_url'] = 'XXXXXXX'
display(display_df)

             ts image_url                  created_at   sex
0    1728337740   XXXXXXX  2024-10-07 21:49:00.000000  None
1    1728343583   XXXXXXX  2024-10-07 23:26:23.000000  None
2    1728343544   XXXXXXX  2024-10-07 23:25:44.000000  None
3    1728342428   XXXXXXX  2024-10-07 23:07:08.000000  None
4    1728341883   XXXXXXX  2024-10-07 22:58:03.000000  None
..          ...       ...                         ...   ...
118  1728349227   XXXXXXX  2024-10-08 01:00:27.000000  None
119  1728348877   XXXXXXX  2024-10-08 00:54:37.000000  None
120  1728347953   XXXXXXX  2024-10-08 00:39:13.000000  None
121  1728347828   XXXXXXX  2024-10-08 00:37:08.000000  None
122  1728346286   XXXXXXX  2024-10-08 00:11:26.000000  None

[123 rows x 4 columns]